$fontColor1:#ced7db;
$fontColor2:#fff;
$fontColor3:#acbec5;
$bgColor:#607d8b;

.sidebar {
  position: fixed; left: 0; top: 0;
  width: 330px; height: 100%;
  padding: 32px 21px 0 27px;
  background-color: $bgColor;
  overflow-y: scroll;
  font-size: 14px; color: $fontColor1;
  .sidebarHeader {
    position: relative;
    height: 37px;
    padding-top: 2px;
    font-size: 20px;
    span {
      position: absolute; top: 0; right: 8px;
      font-size: 14px; color: $fontColor2;
      &:hover {
        color: #c00;
        cursor: pointer;
      }
    }
  }
  .sidebarContent {
    overflow: hidden;
    .checkboxFont {
      position: absolute; top: 50%; left: 0;
      width: 14px; height: 14px;
      margin-top: -7px;
      line-height: 14px; text-align: center;
      border: 1px solid $fontColor1; border-radius: 4px;
      cursor: pointer;
    }
    p {
      position: relative;
      line-height: 26px;
      color: $fontColor2;
      span.name {
        display: inline-block;
        text-indent: 32px;
      }
      span.num {
        float: right;
        width: 40px;
        background-color: #516a76;
        border-radius: 14px;
        text-align: center;
      }
    }
    ul {
      padding: 8px 8px 15px 31px;
      li {
        position: relative;
        padding: 5px 0;
        span.name {
          display: inline-block;
          text-indent: 32px;
        }
        span.num {float: right; color: $fontColor3;}
      }
    }
  }
}
