html, body {
	width: 100%; height: 100%;
}
html, body, div, p, ul, li {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #ece7e7;
}

